@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:orangered">Welcome Furkan Movie List</h1>

    <p style="color:white;font-size:20px;">If you want see my list please <a href="Movie/Index" style="color:white;font-size:20px">click</a></p>

    <p style="color:white;font-size:20px;text-align:left;">My linkedin profile is <a href="https://www.linkedin.com/in/furkanmemis1/" style="color:orangered;font-size:20px">this</a></p>

    <p style="color:white;font-size:20px;text-align:left;">My github profile is <a href="https://github.com/furkanmemis" style="color:orangered;font-size:20px">this</a></p>


</div>
